.tab-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid rgba(204, 204, 204, 0.43);
    padding: 10px 0;
    align-items: center;

    .tab-bar-content {
        display: flex;
    }

    .tabbar-children {
        margin-bottom: 50px;
    }

    .tabbar-item {
        flex: 1;
        &.active {
            color: #f65c5a;
        }
    }
    a {
        &:hover,
        &:visited {
            text-decoration: none;
        }
    }
}